Documents/PurchaseSampleFlattened.xml3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="CustomerTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeliveryAddress" type="cus:DeliveryAddressType" xmlns:cus="CustomerTypes"/>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="BillingAddress" type="cus:BillingAddressType" xmlns:cus="CustomerTypes"/>
  <xs:complexType name="DeliveryAddressType">
    <xs:sequence>
      <xs:element ref="com:Line1" xmlns:com="CommonTypes"/>
      <xs:element ref="com:Line2" xmlns:com="CommonTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillingAddressType">
    <xs:sequence>
      <xs:element ref="com:Line1" xmlns:com="CommonTypes"/>
      <xs:element ref="com:Line2" xmlns:com="CommonTypes"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>