Documents/PurchaseSampleFlattened.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="OrderTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Item" type="ord:ItemType" xmlns:ord="OrderTypes"/>
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="ProductName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string"/>
            <xs:enumeration value="more testing"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Quantity">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="-1927"/>
            <xs:enumeration value="5384"/>
            <xs:enumeration value="-1745"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="UnitPrice">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="-5921.85"/>
            <xs:enumeration value="8201.95"/>
            <xs:enumeration value="-4449.73"/>
            <xs:enumeration value="0.99"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>