Schemas/CustomerTypesFlattened.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:cmn="CommonTypes"
           elementFormDefault="qualified"
           targetNamespace="CustomerTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import schemaLocation="CommonTypesFlattened.xsd"
               namespace="CommonTypes" />
    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="Name"
                        type="xs:string" />
            <xs:element name="DeliveryAddress"
                        type="cmn:AddressType" />
            <xs:element name="BillingAddress"
                        type="cmn:AddressType" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
