Schemas/MainFlattened.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ord="OrderTypes"
           xmlns:cmn="CommonTypes"
           xmlns:pur="Purchase"
           xmlns:cust="CustomerTypes"
           elementFormDefault="qualified"
           targetNamespace="Purchase"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="CommonTypesFlattened.xsd"
               namespace="CommonTypes" />
    <xs:import schemaLocation="CustomerTypesFlattened.xsd"
               namespace="CustomerTypes" />
    <xs:import schemaLocation="OrderTypeFlattened.xsd"
               namespace="OrderTypes" />
    <xs:element name="Purchase">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OrderDetail"
                            type="ord:OrderType" />
                <xs:element name="PaymentMethod"
                            type="cmn:PaymentMethodType" />
                <xs:element ref="pur:CustomerDetails" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CustomerDetails"
                type="cust:CustomerType" />
</xs:schema>
