Schemas/OrderTypeFlattened.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:cmn="CommonTypes"
           elementFormDefault="qualified"
           targetNamespace="OrderTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="CommonTypesFlattened.xsd"
             namespace="CommonTypes" />
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="Item"
                  maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ProductName"
                        type="xs:string" />
            <xs:element name="Quantity"
                        type="xs:int" />
            <xs:element name="UnitPrice"
                        type="cmn:PriceType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
