Schemas/OrderTypeFlattened.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:cmn="http://NamespaceTest.com/CommonTypes"
           elementFormDefault="qualified"
           targetNamespace="http://NamespaceTest.com/OrderTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--The xs:import to CommonTypes.xsd in schema C:\Users\marcus\Documents\GitHub\XML-TUTORIALS\CustomerExampleW3C\Schemas\OrderType.xsd can not be collapsed as it imports a schema in a different namespace.
Items can only have different namespaces in different schema files, therefore it is not possible to collapse this item.-->
  <xs:import schemaLocation="C:\Users\marcus\Documents\GitHub\XML-TUTORIALS\CustomerExampleW3C\Schemas\CommonTypes.xsd"
             namespace="http://NamespaceTest.com/CommonTypes" />
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="Item"
                  maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ProductName"
                        type="xs:string" />
            <xs:element name="Quantity"
                        type="xs:int" />
            <xs:element name="UnitPrice"
                        type="cmn:PriceType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
